Body{
    background-color:rgb(105,105,105);
}
#pic{
    position:relative;
    width:675px;
    height:490px;
    left:345px;
    top:-600px;
    border:solid black 10px;
}
#founded{
    position:relative;
    top:-555px;
}
#title{
    text-align:center;
    font-style: fantasy copperplate;
}
#title2{
    text-align:center;
}
#bats1{
    position:relative;
    top:-115px;
    left:135px;
    height:150px;
}
#bats2{
    position:relative;
    top:-115px;
    left:675px;
    height:150px;
}
#history{
    text-align:center;
}
#schedule2{
    border:dotted black;
    position:relative;
    left:-3px;
}
#extra{
    position:relative;
    top:-800px;
    left:600px;
}
#extra2{
    position:relative;
    top:-810px;
    left:375px;
}
      #batfamily{
        position:relative;
        height:450px;
        width:600px;
        top:-10px;
        left:275px;
    }
    #leaders{
        position:relative;
        top:-450px;
        left:30px;
    }
    #mainmembers{
        position:relative;
        top:-760px;
        left:900px;
    }
    #news{
        position:relative;
        top:-630px;
        left:;
    }
#departments{
    position:relative;
    top:-1050px;
    left:1050px;

     #pic2{
       position:relative;
       top:-500px;
       left:170px;
       height:600px;
   }
   #discription{
       position:relative;
       top:-987px;
       left:830px;
       
   }
   #classes{
       text-align:center;
       position:relative;
       top:-920px;
   }
   
   #class1{
       position:relative;
       left:10px;   
       top:-900px;
   }
   #class2{
       position:relative;
       left:250px;
       top:-1105px;
   }
   
   #class3{
       position:relative;
       left:460px;
       top:-1307px;
   }
   
   #class4{
       position:relative;
       left:680px;
       top:-1490px;
   }
   
   #class5{
       position:relative;
       left:900px;
       top:-1690px;
   }
   
   #class6{
       position:relative;
       left:10px;
       top:-1700px;
   }
   
   #class7{
       position:relative;
       left:250px;
       top:-1920px;
   }
   
   #class8{
       position:relative;
       left:460px;
       top:-2175px;
   }
   
   #class9{
       position:relative;
       left:680px;
       top:-2394px;
   }
   
   #class10{
       position:relative;
       left:910px;
       top:-2590px;
   }
