Body{
    background-color:rgb(105,105,105);
}
#pic{
    position:relative;
    width:750px;
    height:490px;
    left:345px;
    top:-600px;
    border:solid black 10px;
}
#founded{
    position:relative;
    top:-605px;
}
#title{
    text-align:center;
    font-style: fantasy copperplate;
}
#title2{
    text-align:center;
}
#history{
    text-align:center;
}
#schedule2{
    border:dotted black;
    position:relative;
    left:-3px;
}
#extra{
    position:relative;
    top:-615px;
    left:600px;
}
#extra2{
    position:relative;
    top:-625px;
    left:375px;
}
    
