Body{
    background-color:rgb(105,105,105);
}
#pic{
    position:relative;
    width:675px;
    height:490px;
    left:345px;
    top:-600px;
    border:solid black 10px;
}
#founded{
    position:relative;
    top:-605px;
}
#title{
    text-align:center;
    font-style: fantasy copperplate;
}
#title2{
    text-align:center;
}
#bats1{
    position:relative;
    top:-115px;
    left:135px;
    height:150px;
}
#bats2{
    position:relative;
    top:-115px;
    left:675px;
    height:150px;
}
#history{
    text-align:center;
}
#schedule2{
    border:dotted black;
    position:relative;
    left:-3px;
}
#extra{
    position:relative;
    top:-615px;
    left:600px;
}
#extra2{
    position:relative;
    top:-625px;
    left:375px;
}
      #batfamily{
        position:relative;
        height:450px;
        width:600px;
        top:-10px;
        left:275px;
    }
    #leaders{
        position:relative;
        top:-450px;
        left:30px;
    }
    #mainmembers{
        position:relative;
        top:-760px;
        left:900px;
    }
    #news{
        position:relative;
        top:-630px;
        left:;
    }
#departments{
    position:relative;
    top:-1050px;
    left:1050px;
